<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {{!-- BootStrap CSS --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {{!-- Custom Stylesheet --}}
    <link rel="stylesheet" href="/css/home.css">

    <link rel="shortcut icon" href="/icon.webp">
</head>

<body>

    {{!-- NAVBAR --}}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/icon.webp" alt="" width="24" height="28" class="logo d-inline-block align-top">
                Login
            </a>
        </div>
    </nav>

    <div class="signin">
        <div class="login-error">
            {{error}}
        </div>
        <div class="signin__container">
            <h1 class="signin__hero">Login</h1>

            {{!-- SIGNIN FORM --}}
            <form class="signin__form" action="/" method="POST">
                <span class="signin__info">Username</span>
                <input type="text" class="signin__input" required="true" name="username" />

                <span class="signin__info">Password</span>
                <input type="password" class="signin__input" required="true" name="password" />

                <button type="submit" class="btn btn-primary login-btn">CONTINUE</button>
            </form>

            {{!-- REDIRECT TO REGISTER --}}
            <div class="signin__bottom">
                <span class="signin__redirect">New to the Site? Please Register</span>
                <a href="/register" type="button" class="btn btn-danger redirect-btn">Register</a>
            </div>
        </div>
    </div>

</body>

</html>